html, body {
  background-color: #333;
}

.App {
  width: 960px;
  max-width: 95%;
  margin: auto;
  text-align: center;
}


.title {
  font-size: 3rem;
  color: #fafafa;
}

.Aggregate {
  text-align: center;
}