html, body {
  background-color: #333;
}

.App {
  width: 960px;
  max-width: 95%;
  margin: auto;
  text-align: center;
}


.title {
  font-size: 2.2rem;
  color: #fafafa;
  text-transform: capitalize;
}

.Aggregate {
  text-align: center;
}

/* Playlists */
.playlist {
  
  margin-top: 5%;
  display: inline-block;
  width: 25%;
  
}

.playlist ul {
  list-style: none;
  text-align: left;
}
.playlist li {
  margin-bottom: 10px;
}

.playlist img {
  display: inline-block;
  max-width: 50%;
}

/* Loading Bars */
.loadingBars {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loadingBars div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #fff;
  animation: loadingBars 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loadingBars div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.loadingBars div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.loadingBars div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes loadingBars {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}

/* BUTTON */
.btn {
  cursor: pointer;
  padding: 20px 10px;
  background-color: #1db954;
  font-size: 2rem;
  color: #fafafa;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color width .3s;
}

.btn:hover {
  background-color: #0d9c3f;
}